/* fonts */
/* font-family: 'Major Mono Display', monospace;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto Mono', monospace; */

.main-containter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: auto; */
}

body {
    position: fixed;
    top: 10%;
    max-height: 90vh;
    max-width: 90vw;
    border: 3px solid black;
    border-radius: 5px; 
}

.about-body {
    background-color: violet;
    height: 534px;
    width: 624px;
}

.card-cont {
    display: grid;
    grid-template-columns: .7fr  1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px;
    padding: 40px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid black;
    border-radius: 3px;
    height: 25vh;
    width: 25vw;
}

.projects {
    position: relative;
    /* -webkit-transition: opacity .75s ease;
    -moz-transition: opacity .75s ease;
    -ms-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition:  opacity .75s ease-out; */
    
}

.projects::before {
    content: "";
    /* background-image: url('../assets/neon-pyramid-thumb-sqr.png'); */
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0; 
    -webkit-transition: opacity .75s ease;
    -moz-transition: opacity .75s ease;
    -ms-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition:  opacity .75s ease-out;
}

.projects:hover:before {
    opacity: 0.75;
}

.projects:hover {
    background-color: yellowgreen;
}

/* .about {
    
} */

.about:hover {
    background-color: whitesmoke;
}

/* .cv {
    
} */

.cv:hover {
    background-color: tomato;
    
}

/* .contact{
    
}     */

.contact:hover {
    background-color: turquoise;

}

h1 {
    font-family: 'Roboto Mono', monospace;
}
