* {
    font-family: 'Roboto Mono', monospace;
}

.main-containter {
    display: flex;
    flex-direction: column;
}

body {
    position: fixed;
    top: 2%;
    max-height: 90vh;
    max-width: 90vw;
    border: 3px solid black;
    border-radius: 5px; 
}

h1 {
    padding: 20px;
    font-size: larger;
    font-weight: 600;
    background-color: violet;
}

h1.footer {
    background-color: white;
}


hr.solid {
    border-top: 3px solid black;
}

hr.thin {
    border-top: 1px solid black;
}



.about-body {
    background-color: rgba(238, 130, 238, 0.625);
    height: 534px;
    width: 624px;
    overflow: auto;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-cont {
    display: grid;
    grid-template-columns: .7fr;
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px;
    height: 30vh;
    width: 30vw;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid black;
    border-radius: 3px;
    max-height: 50vh;
    max-width: 50vw;
}

.projects {
    position: relative;
}

.projects::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0; 
    -webkit-transition: opacity .15s ease;
    -moz-transition: opacity .15s ease;
    -ms-transition: opacity .15s ease;
    -o-transition: opacity .15s ease;
    transition:  opacity .15s ease-out;
    background-color:lightgreen;
}

.projects:hover:before {
    opacity: 0.50;
}

.projects-show {
    border: solid 1px red;
}

.about {
    position: relative;
}

.about::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0; 
    -webkit-transition: opacity .15s ease;
    -moz-transition: opacity .15s ease;
    -ms-transition: opacity .15s ease;
    -o-transition: opacity .15s ease;
    transition:  opacity .15s ease-out;
    background-color:violet;
}

.about:hover:before {
    opacity: 0.50;
}

.cv {
    position: relative;
}

.cv::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0; 
    -webkit-transition: opacity .15s ease;
    -moz-transition: opacity .15s ease;
    -ms-transition: opacity .15s ease;
    -o-transition: opacity .15s ease;
    transition:  opacity .15s ease-out;
    background-color: tomato;
}

.cv:hover:before {
    opacity: .50;
}

.contact {
    position: relative;
}

.contact::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0; 
    -webkit-transition: opacity .15s ease;
    -moz-transition: opacity .15s ease;
    -ms-transition: opacity .15s ease;
    -o-transition: opacity .15s ease;
    transition:  opacity .15s ease-out;
    background-color: turquoise;
}

.contact:hover:before {
    opacity: .50;
}

.home:hover {
    color: silver;
}
